.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    grid-auto-flow: dense;
    margin: 5%;
}
.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#EventsList{
    margin: 1%;
}