.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 5rem;
    margin: 3%;
    height: 500px;
}

.grid-item{
    height: 170px;
    width: 430px;
    cursor: pointer;
    color: black;
    background-color: rgb(188, 202, 168);
}

#EventsList{
    margin-top: 1%;
    justify-content: center;
}

.pagination{
    justify-content: center;
    margin: 5%;
}
