#Page {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1rem;
    grid-auto-flow: dense;
    margin: 2%;
    font-size: 18px;
}

#Members{
    grid-column: 1;
    margin: auto;
    margin-top: 5%;
    width: 30rem;
}

.memberDetails{
    grid-column: 2;
    margin: auto;
    width: 30rem;
}

#Page .list-group-item{
    background-color: rgb(67, 85, 56);
}




