#eventDetailsPage{
    display: grid;
    grid-template-columns: 70% 30%;
}

#eventRight{
    display: grid;
    grid-template-rows: 30% 20% 50%;
}

#eventJumbotronMain{
    height: 300px;
    width: 80%;
    margin: auto;
    margin-top: 0;
}

.jumbotronEvent{
    color: rgb(5, 32, 3);
}

#EventInformations{
    margin-top: 1%;
margin-left: 10%;
margin-right: 10%;
}

#eventInfo{
    text-align: left;
    margin-left: 10%;
    margin-top: 1%;
}

#EventsList{
    margin: 1%;
}

